<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_shipping_new_report"
              name="Reports"
              parent="menu_shipping_root"
              sequence="40"
              groups="shipping.group_shipping_operator,shipping.group_shipping_manager,shipping.group_shipping_admin"/>

</odoo>